/* (edit style.css for your own book styles) */

img { max-width: 100%; }

:root {
  --A: #F1ECCE;
  --B: #9FC2CC;
  --C: #065192;
  --D: #694D75;
  --E: #331832;
}

/* rainbow borders */
body {
  margin-top: 20px;
  box-shadow: 0 -4px 0 0px var(--A),
              0 -8px 0 0px var(--B),
              0 -12px 0 0px var(--C),
              0 -16px 0 0px var(--D),
              0 -20px 0 0px var(--E);
}

.checklist ul {
  list-style-type: none;
}
